body {
  margin: 0;
  padding-top: 0;
  background-color: #F4F4F4;
}
.invisible {
  visibility: hidden;
}
.show-and-tell-dl {
  margin: 0;
}
.show-and-tell-dl > dt {
  /* float: left; */
  max-width: 140px;
  padding-top: 7px;
}
.show-and-tell-dl > dd {
  /* padding-left: 140px; */
  padding-bottom: 7px;
  padding-top: 7px;
  border-bottom: 1px solid lightgray;
}
.show-and-tell-dl > dd:last-of-type {
  border-bottom: 0;
}
.modal-body {
	max-height: none;
}

.modal-content{
    border-radius: 0;
}
#drop {
    background-color: white;
    border:2px dashed #bbb;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    padding:25px;
    text-align:center;
	font:20pt bold;
    color:#bbb
}
#out {
    clear: both;
    height: 500px;
    width: 100%;
}
#save {
    float: right;
    font-size: 15pt;
    margin-top: 15px;
    font-family: "Times New Roman"; 
}
#errors p {
    background-color: pink;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: .5em;
}
#download div {
    background-color: lightgreen;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: .5em;
}
.show-and-tell-audio-btn {
  margin-left: 0;
  margin-right: 10px;
  width: 80px;
  font-weight: bold;
  border: 1px solid white;
}
.clear {
  border: 1px solid white;
  color: white;
  display: block;
  margin: 5px auto;
  width: 80px;
}
.copyright {
  font-size: .8em;
  margin-top: 1em;
  color: gray;
}
.copyright a {
  color: gray;
  text-decoration: underline;
}
.help {
  float: right;
}
.card-container {
  padding-top: 54px;
  margin-left: 0;
}
.card {
  background-color: white;
  color: white;
  box-shadow:  1px 1px 1px 1px rgba(0, 0, 0, .4);
  padding: 3px;
  margin: auto;
  margin-bottom: 1em;
  max-width: 600px;
}
.ss-title {
  margin: 4px;
  padding: 2px;
}
.card-label {
  background-color: white;
  margin: 2px auto;
  position: relative;
  height: 50px;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, .5);
}
.label-text {
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 3px;
}
.label-handle {
  position: absolute;
  right: 4px;
  top: 4px;
  width: 42px;
  bottom: 4px;
  background-color: #D1E3EE;
}
.card-label.current:before {
  position: absolute;
  left: -15px;
  font-family: cursive;
  font-size: 27px;
  color: white;
  content: ">";
}
.recording:before {
    font-size: 1.5em;
    margin-right: 5px;
    color: red;
    content: "â—";
}
.card-label > img {
    opacity: 0.4;
    position: absolute;
    top: -50px;
    width: 100%;
}
.widget {
    padding: 1em;
    padding-top: .1em;
    padding-bottom: 1em;
    margin: 2px;
}
.widget-0 {
    background-color: #6D93CB;
}
.widget-1 {
    background-color: #4AC2C2;
}
.widget-2 {
    background-color: #C389F0;
}
.widget hr {
    max-width: 300px;
}
.widget img {
    max-width: 300px;
    margin: auto;
    display: block;
}
.widget textarea {
    width: 99%;
    height:100px;
    resize: vertical;
}
.deck {
    position: fixed;
    width: 300px;
    z-index: 1002;
    top:0;
    bottom:0;
    left: 0;
    background: #F4F4F4;
    overflow-y: auto;
    box-shadow:  2px 0px 1px 1px rgba(0, 0, 0, .2);
    -webkit-box-shadow:  2px 0px 1px 1px rgba(0, 0, 0, .2);
    
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(240,240,240,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(240,240,240,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(240,240,240,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(240,240,240,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(240,240,240,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */

}
.deck.no-show {
    left: -390px;
}
.my-navbar {
    z-index: 1001;
    position: fixed;
    width: 100%;
    border: 0;
    border-radius: 0;

background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

}
.my-navbar-content {
    margin: 4px;
    margin-left: 4px;
    height: 42px;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, .5);
}
.my-navbar-content, .panel-menu {
    background: #73BAE9;/* #FFD656; */
}
@media screen and (min-width:800px) {
    .card-container {
        margin-left: 300px;
    }
    .my-navbar-content {
        margin-left: 306px;
    }
    .deck.no-show {
        left: 0;
    }
    .toggle-panel#my-toggle {
        visibility:hidden;
    }
}
#my-toggle {
    margin: 5px;
    position: relative;
    float: right;
    padding: 7px;
    background-color: transparent;
    border: 1px solid transparent;
}
#my-toggle .icon-bar {
    background-color: white;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    margin-bottom: 4px;
}
.navbar-brand {
    position: absolute;
    width: 100%;
    text-align: center;
}
.widget-head {
    
}
.aside {
  font-size: .7em;
}
.my-well {
    min-height: 20px;
    padding: 19px;
    background-color: #AAD1F5;
    margin:0 5px;
    -webkit-box-shadow: inset 0px -2px 2px 1px rgba(0, 0, 0, 0.14);
}
.panel-menu {
    margin: 4px;
    margin-bottom: 8px;
    padding: 5px 20px;
}
.panel-menu > .btn {
    color: white;
}
.app-title {
    padding: 10px;
    margin: 0;
    color: white;
    height: 42px;
    padding-left: 38px;
}
.loading {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    color: white;
    font-size: 80px;
    text-align: center;
    background-color: black;
    opacity: 0.5;
    z-index: 1100;
}
.links {
    text-align: center;
    padding: 12px;
}
.card-animation {
    -webkit-animation-timing-function: ease-in-out;
    -webkit-transform-origin-x: -500px;
    
    -webkit-animation: slide 1s 1;
}
@-webkit-keyframes flip /* Safari and Chrome */
{
from {-webkit-transform: perspective(800px) rotateX(0deg);}
to {-webkit-transform: perspective(800px) rotateX(360deg);}
}
@-webkit-keyframes slide /* Safari and Chrome */
{
from {-webkit-transform: perspective(800px) rotateZ(0deg);}
to {-webkit-transform: perspective(800px) rotateZ(360deg);}
}