body {
    margin: 0;
    padding-top: 0;
    background-color: gray;
}
.modal-body {
	max-height: none;
}
#drop {
    background-color: white;
    border:2px dashed #bbb;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    padding:25px;
    text-align:center;
	font:20pt bold;
    color:#bbb
}
#out {
    clear: both;
    height: 500px;
    width: 100%;
}
#save {
    float: right;
    font-size: 15pt;
    margin-top: 15px;
    font-family: "Times New Roman"; 
}
#errors p {
    background-color: pink;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: .5em;
}
#download div {
    background-color: lightgreen;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: .5em;
}


.help {
    float: right;
}
.card-container {
    padding-top: 58px;
    margin-left: 0;
}
.card {
    background-color: white;
    -webkit-box-shadow:  5px 5px 1px 1px rgba(0, 0, 0, .5);
    padding: 4px;
    margin: auto;
    max-width: 600px;
}

.card-label {
    background-color: white;
    margin: 2px auto;
    overflow: hidden;
    position: relative;
    height: 50px;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, .5);
}
.card-label > img {
    opacity: 0.5;
    position: absolute;
    z-index: 0;
    top: -50px;
    right: 50px;
}
.widget {
    padding: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    margin: 1px;
}
.widget-0 {
    background-color: #6D93CB;
}
.widget-1 {
    background-color: #73CECE;
}
.widget-2 {
    background-color: #CB89F0;
}
.widget hr {
    max-width: 300px;
}
.widget img {
    max-width: 300px;
    margin: auto;
    display: block;
}
.widget textarea {
    width: 99%;
    height:100px;
    resize: vertical;
}
.deck {
    position: fixed;
    width: 300px;
    z-index: 1000;
    top:0;
    bottom:0;
    left: 0;
    background: #F4F4F4;
    overflow-y: scroll;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}
.deck.no-show {
    left: -390px;
}
.my-navbar {
    position: fixed;
    width: 100%;
}
.my-navbar-content {
    margin: 4px;
    margin-left: 4px;
    height: 42px;
    background: #73BAE9;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, .5);
}
@media screen and (min-width:800px) {
    .card-container {
        margin-left: 300px;
    }
    .my-navbar-content {
        margin-left: 304px;
    }
    .deck.no-show {
        left: 0;
    }
    .toggle-panel#my-toggle {
        visibility:hidden;
    }
}
/*
#my-toggle {
    display: inline;
    position: relative;
    float: left;
    padding: 9px 10px;
    margin-top: 8px;
    margin-left: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
}*/
#my-toggle {
    margin-right: 5px;
    margin-top: 4px;
}
#my-toggle .icon-bar {
    background-color: white;
}
.navbar-brand {
    position: absolute;
    width: 100%;
    text-align: center;
}
.widget-head {
    
}
.my-well {
    min-height: 20px;
    padding: 19px;
    background-color: #AAD1F5;
    margin:0 5px;
}
.panel-menu {
    margin: 4px;
    margin-bottom: 8px;
    padding: 5px 20px;
    background: #73BAE9;
}
.panel-menu > .btn {
    color: white;
}
.app-title {
    padding: 10px;
    margin: 0;
    color: white;
    height: 42px;
    padding-left: 38px;
}
.loading {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    color: white;
    font-size: 80px;
    text-align: center;
    background-color: black;
    opacity: 0.5;
    z-index: 1100;
}
