<div class="card-label {{#isCurrent}}current{{/isCurrent}}" id="{{idx}}">
    {{#if previewImageURL}}
        <img src="{{previewImageURL}}"></img>
    {{/if}}
    {{#if text}}
        <div class="label-text">{{text}}</div>
    {{/if}}
    <div class="label-handle"></div>
</div>